*{
    margin: 0;
    padding: 0;
    /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background: #001e4d;

}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{

    font-size: 35px;
    color: #001e4d;
    /* font-weight: 600; */
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.quiz{

    padding: 15px 0;
}
.quiz h2{

    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    text-align: left;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover:not([disabled]){

    background: #070505;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}