/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #06437f;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.container p {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 0.5px solid rgb(211, 211, 219);
  margin-bottom: 15px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 16px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.code {
  margin-top: 15px;
  /* min-height: 200px;  */
  display: flex;
  justify-content: center;
  align-items: center;
}
