* {
    margin: 0;
    padding: 0;
}

h1{
   
    font-size: 60px;
}

body{
    background-color: #adc178;
    text-align: center;

}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    font-size: 8vmin;
    color: #6c584c;
    background-color: #dde5b6;
    cursor: pointer;
    transition: 0.3s ease;
}


#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

#reset:hover{
    transition: 0.2s ease-in;
    background-color: #6c584c;
}

#msg{
    color: white;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

.hide{
    display: none;
}